<main class="main">
  <%= image_tag "football_og.png", class: "background-top" %>
  <%= image_tag "さかともロゴ.png", size: "400x400", class: "top-logo" %>
  <h1 class="top-welcome">Welcome!!</h1>
  <div class="inner">
    <div class="card__wrapper">
      <h1>「さかとも！」へようこそ！</h1>
      <p class="index-text">必要なものはボール１つ。<br>
         地元でも知らない土地でもこのアプリを使ってサッカー仲間を探そう。<br>
         一緒にプレーする仲間を増やして大好きなサッカーをより楽しもう。
      </p>
      <div class="hold-soccer">
        <%= link_to "サッカーをする！", new_play_path, class: "open-soccer" %>
        <%= link_to "参加する！", playzones_path, class: "open-soccer" %>
      </div>
    </div>
  </div>
</main>

